---
layout: page
permalink: /blog/
title: Blog
subtitle: mostly tech and phyics ramblings
---

{% for post in site.posts %}
	{% unless post.next %}
	  <h2 class="year">{{ post.date | date: '%Y' }}</h2>
	{% else %}
	  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
	  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
	  {% if year != nyear %}
	    <h2 class="year">{{ post.date | date: '%Y' }}</h2>
	  {% endif %}
	{% endunless %}
	
	{% include post-entry.html %}

{% endfor %}