---
layout: archive
permalink: /creativeworks/
author_profile: true
---

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections reversed %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label %}
      <h1 id="{{ label | slugify }}" class="page__title"><a href=" {{ label | prepend: '/' | absolute_url }}">{{ label | downcase }}</a></h1>
      <p class="page__meta"> <a href=" {{ label | prepend: '/' | absolute_url }}">read more...</a></p>

      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in collection.docs reversed limit: 4%}
    {% unless collection.output == false or collection.label == "posts" %}
      {% include archive-single-writing.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}
