---
layout: page
title: "Poetry"
permalink: /poetry/
subtitle: 生活不止眼前的苟且，还有诗和远方的田野
---

{% assign year = "" %}

{% for post in site.writing reversed %}
  {% if post.category == "poetry" %}

  	{% capture nyear %}{{ post.date | date: '%Y' }}{% endcapture %}
	{% if year != nyear %}
		<h2 class="year english">{{ post.date | date: '%Y' }}</h2>
		{% assign year = nyear %}
	{% endif %}
	
	<div class="list__item">
	  <article class="page__item" itemscope itemtype="http://schema.org/CreativeWork">

	    {% if post.date %}
	    <p class="page__meta"> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d"}}</time></p>
	    {% endif %}

	    <h3 class="page__item-title {{ post.language }}" itemprop="headline">
	      {% if post.link %}
	        <a href="{{ post.link }}">{{ post.title }}</a> <a href="{{ post.url | absolute_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
	      {% else %}
	        <a href="{{ post.url | absolute_url }}" rel="permalink">{{ post.title }}</a>
	      {% endif %}
	    </h3>

	  </article>
	</div>
  {% endif %}
{% endfor %}