# Site title
title: The Confused Me
# image: '/assets/images/writing.jpg'
# Tagline below the site title on post list pages
tagline: Physics and code. Poetry and fiction. I am Lingyi. 
description:
favicon: '/assets/images/typewriter.png'
url: "https://theconfused.me"
baseurl: ""
enforce_ssl: theconfused.me
repository: "lingxz/lingxz.github.io"

# The site cover image on the home page
# image: /crossing-jekyll/images/site-image.jpg

# Your Google Analytics tracking code
google_analytics_tracking_id: "UA-96137027-1"


# Site navigation
nav:
  - title: "Home"
    url:   "/"
  - title: "Writing"
    url: "/writing/"
  - title: "About"
    url: "/about/"
  - title: "Search"
    url: "/search/"

# algolia search
algolia:
  application_id         : 'VN9ANUNJHO'
  index_name             : 'blog'
  record_css_selector    : 'p,ul'
  read_only_api_key      : '98fde2f0c592e7705c24e8ef80f9b655'
  lazy_update            : true
  excluded_files:
    - 404.html
    - poetry.html
    - blog.html
    - writing.html
    - essays.html
    - search.html
    - index.md

# The links in the site footer
footer_links:
  - title: "RSS"
    url:   "/feed.xml"
  - title: "GitHub"
    url:   "https://github.com/lingxz/"


# Author information
author: Lingyi Hu


# Extra Open Graph and Twitter Cards settings for social sharing

# Fallback og:image when no page.image or site.image. Facebook requires image be
# at least 200 x 200 pixels.
og_image:

# twitter:site. Your Twitter username without "@"
twitter_site:


# http://jekyllrb.com/docs/pagination/
paginate: 5
paginate_path: page/:num/
gems: [jekyll-paginate]

permalink: /blog/:title/
markdown: kramdown
highlighter: null
# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  math_engine: mathjax
  syntax_highlighter_opts:
    disable: true


# Plugins
gems:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - algoliasearch-jekyll

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji

include:
  - _pages

comments:
  provider: "staticmanv2"
# Staticman comments (full configuration in staticman.yml)
staticman:
  branch                 : "master"
atom_feed:
  path                   : # blank (default) uses feed.xml


collections:
  writing:
    output: true
    permalink: /:collection/:title/

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: page
      comments: false
      # _writing
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
    # _writing
  - scope:
      path: ""
      type: writing
    values:
      layout: post
      comments: true
      large_title: To Bleed At A Typewriter
      tagline: "There is nothing to writing. All you do is sit down at a typewriter and bleed. &mdash; Ernest Hemingway"
      parent_page: "/writing/"