<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <!-- <button><div class="navicon"></div></button> -->
        <a class="site-title" href="{{ '/' | absolute_url }}"><img src="{{ 'assets/images/fox3.png' | absolute_url }}" alt="{{ site.title }}" style="max-height:40px; margin-left:2px"> theconfusedfox</a>
        <ul class="visible-links">
<!--           <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></li> -->
          <!-- <li class="masthead__menu-item masthead__menu-item--lg"></li> -->
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <button class="hamburger--elastic" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>