<nav class="read-next">
  {% if page.next %}
    <a class="read-next-newer" href="{{ page.next.url | absolute_url }}">
      <span class="read-next-label">Newer Post</span>
      <span class="read-next-title">{{ page.next.title | markdownify | strip_html }}</span>
    </a>
  {% endif %}
  {% if page.previous %}
    <a class="read-next-older" href="{{ page.previous.url | absolute_url }}">
      <span class="read-next-label">Older Post</span>
      <span class="read-next-title">{{ page.previous.title | markdownify | strip_html }}</span>
    </a>
  {% endif %}
</nav>