<div class="topnav">
  <div class="topnav__content">
    <h3 class="site__name"><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></h3>
    <p class="site__bio">
      <a href="{{ '/' | absolute_url }}">Physics and code.</a> <a href="{{ '/writing/' | absolute_url }}">Poetry and fiction.</a> I am <a href=" {{ '/about/' | absolute_url }} ">Lingyi</a>. 
    </p>
    
<!--     <nav>
      <ul id="navigation" class="links">
        {% for link in site.data.navigation.main %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = site.url | append: site.baseurl %}
          {% endif %}
          <li class="menu-item">
            <a href="{{ domain }}{{ link.url }}">{{ link.title }} /</a>
          </li>
        {% endfor %}
      </ul>
      <form id="search-form">
        <input type="text" style="height:2em;" class="algolia__input js-algolia__input" autocomplete="off" placeholder="Search in this site..." />
      </form>
    </nav> -->
  </div>
</div>
