.algolia__search-content {
  margin-top: 1em;
}

.algolia__search-content {
  display:none;
}
.algolia__search-content--active {
  display:block;
}

/* Search results */
.algolia__result {
  margin-bottom: 1rem;
  h2 {
    margin-top: 0.25em;
    margin-bottom: 0;
  }
}
.algolia__result-link {
  // font-size: 1.25rem;
}
.algolia__result-date {
  font-size:0.8rem;
  color: $gray;
}
.algolia__result-text {
  font-size: 0.9rem;
}
.algolia__result-link .algolia__result-highlight {
  background-color:#D3E8F6;
  background-color: rgba(38,139,210,0.2);
}
.algolia__result-text .algolia__result-highlight {
  background-color:#D3E8F6;
  background-color: rgba(38,139,210,0.2);
}

.algolia__no-result {
  font-size: $type-size-3;
  @include breakpoint(max-width $small) {
    font-size: $type-size-4;
  }
}
