.introduction {
  font-size: $type-size-3;
  #name {
    font-family: $fancy-font-family;
    font-size: $type-size-3;
  }
}

// use of keyframes mixin
@include keyframes(fade) {
  0% {
    @include transform2d(translateY(-1em));
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
    @include transform2d(translateY(-40px));  
  }
  100% {
    @include transform2d(translateY(-1em));
    opacity: 0;
  } 
}

.fade {
   @include animation(fade 2.5s);
   display: inline-block;
}

.heart {
  color: $theme-color;
}

.katex-display { font-size: $type-size-4; }