.introduction {
  font-size: $type-size-3;
  #name {
    font-family: $fancy-font;
    font-size: $type-size-3;
  }
}

// use of keyframes mixin
@include keyframes(fade) {
  0% {
    @include transform2d(translateY(-1em));
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
    @include transform2d(translateY(-40px));  
  }
  100% {
    @include transform2d(translateY(-1em));
    opacity: 0;
  } 
}

.fade {
   @include animation(fade 2.5s);
   display: inline-block;
}

#comment-form-submit {
	margin-top: 1em;
	@include span(12 of 12);
}

.page {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
}

.breadcrumbs {
  font-family: $global-font-family;
}

.heart {
  color: $theme-color;
}

.archive__title, .page__title {
  font-family: $fancy-font;
}