/* ==========================================================================
   FOOTER
   ========================================================================== */


.page__footer {
  @include full();
  @include clearfix;
  footer {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 0.75rem;
  }
  font-size: $type-size-6;
  color: $gray;
  margin-top: 2em;
  margin-bottom: 2em;
}
