/* ==========================================================================
   PAGE
   ========================================================================== */

.page {
  margin-bottom: 2em;
  float: none;
  margin: 0 auto;
  padding: 0;
  max-width: $max-width;
  @include breakpoint($small) {
    padding: 0 0.75rem;
  }
  .year {
    font-weight: bold;
    font-family: $monospace;
  }
}

.page__subtitle {
  margin-top: 0;
  margin-bottom: 2em;
  color: $gray;
}

.page__share {
  padding: 1em 0;
}

.page__item {
  margin-bottom: 1em;
}

.page__item-title {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-family: $header-font-family;
  a {
    color: $entry-link-color;
    &:hover { color: $entry-link-color-hover; }
  }
}

.page__item-excerpt {
  margin: 0;
  color: $gray;
  @include breakpoint($medium) {
    padding-right: 5em;
  }
}

.page__title {
  margin-top: 0;
  line-height: 1;
  font-size: $type-size-1;
  margin-bottom: 0;
  color: $text-color;
  font-family: $fancy-font-family;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__meta {
  margin: 0 0 4px;
  margin-bottom: 0;
  color: mix(#fff, $gray, 25%);
  font-size: $type-size-5;
  
  @include breakpoint($medium) {
    float: right;
    margin-left: 20px;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}
