ul.slimmenu {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  li {
    position: relative;
    display: inline-block;
    padding: 0 3px;

    ul {
      margin: 0;
      list-style-type: none;
      z-index: 10;
      // background: $background-color;
    }
    
    a {
      display: block;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      color: $link-color;
      font-weight: 400;
      transition: background-color 0.5s ease-out;
      -o-transition: background-color 0.5s ease-out;
      -moz-transition: background-color 0.5s ease-out;
      -webkit-transition: background-color 0.5s ease-out;

      &:hover {
        text-decoration: none;
        color: $link-color-hover;
      }
    }
  }

  > li {
    &:first-child {
      border-left: 0;
    }
  }
}

.slimmenu.collapsed li ul {
  width: inherit;
}

ul.slimmenu > li:first-child { padding-left: 0; }

ul.slimmenu.collapsed > li:first-child { padding-left: 3px; }

ul.slimmenu.collapsed li a {
    transition: none;
    -o-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}