.hljs-line-numbers {
	border-right: solid 1px $gray;
	color: $gray !important;
}

.highlight {
	font-size: 0.9em;
	line-height: 20px;
}

.hljs {
	padding-top: 0.8em !important;
	padding-bottom: 0.8em !important;
}

pre {
	border-radius: $border-radius;
}