.topnav {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);

  @include clearfix();
  margin: auto;
  margin-bottom: 2em;
  max-width: $max-width;

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }

  p, li {
    font-size: 1rem; // prevent fonts from getting smaller with each layer
    line-height: 1.5;
  }
}

.topnav__avatar {
  display: table-cell;
  vertical-align: top;
  width: 7em;
  height: 7em;
  
  @include breakpoint(max-width $small) {
    @include full();
    height: inherit;
    margin-bottom: 1em;
  }

  img {
    height: auto;
    @include breakpoint(max-width $small) {
      width: 8em;
      display: block;
      margin: 0 auto;
    }
    @include breakpoint($large) {
      padding: 5px;
    }
  }
}

.topnav__content {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 25px;
  line-height: 1;

  @include breakpoint(max-width $small) {
    @include full();
    h3, p, ul, li { text-align: center; }
    ul.collapsed li { text-align: left; }
  }
  @include breakpoint($large) {
    padding-top: 1em;
  }
}

.site__name {
  margin: 0;
  font-family: $fancy-font-family;
  font-size: $type-size-2;
}

.site__bio {
  margin: 0;
  font-size: $type-size-6 !important;
}

.menu-item {
  display: inline-block;
  a {
    color: $text-color;
  }
}

nav .links {
  padding: 0;
  font-size: $type-size-3;
}