.masthead {
  // background-color: #f3f3f3;
}

.topnav {
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);

  @include clearfix();
  margin: auto;
  margin-top: 1em;
  max-width: $max-width;

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }

  p, li {
    font-size: 1rem; // prevent fonts from getting smaller with each layer
    line-height: 1.5;
  }
}

.topnav__content {
  vertical-align: top;
  padding-left: 15px;
  padding-right: 25px;
  line-height: 1;
  @include breakpoint($large) {
    padding-top: 1em;
  }
}

.site__name {
  margin: 0;
  font-family: $fancy-font-family;
  font-weight: normal;
  font-style: normal;
  font-size: $type-size-1;
  @include breakpoint(max-width $x-small) {
    font-size: $type-size-2;
  }
  a {
    color: $text-color;
    opacity: 0.5;
    transition: .3s opacity ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}

.site__bio {
  color: $gray;
  margin: 0;
  a {
    color: inherit;
    &:hover {
      color: $text-color;
      border-bottom: solid 1px;
    }
  }
}

.menu-item {
  display: inline-block;
}

nav .links {
  padding: 0;
  font-size: $type-size-4;
  padding-bottom: .5em;
  a {
    color: $text-color;
    &:hover {
      color: $text-color;
    }
  }
}


