/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 16 !default;

/* paragraph indention */
$paragraph-indent           : false !default; // true, false (default)
$indent-var                 : 1.3em !default;

@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

$custom: Heebo, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei Light", sans-serif;
$heading: Heebo, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
$fancy-font: Gochi Hand, sans-serif;

$global-font-family         : $custom !default;
$header-font-family         : $heading !default;
$caption-font-family        : $custom !default;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace !default;

/* type scale */
$type-size-1                : 2.441em !default;  // ~39.056px
$type-size-2                : 1.953em !default;  // ~31.248px
$type-size-3                : 1.563em !default;  // ~25.008px
$type-size-4                : 1.25em !default;   // ~20px
$type-size-5                : 1em !default;      // ~16px
$type-size-6                : 0.75em !default;   // ~12px
$type-size-7                : 0.6875em !default; // ~11px
$type-size-8                : 0.625em !default;  // ~10px


/*
   Colors
   ========================================================================== */

$red                        : mix(#fff, #FF3636, 10%);
$hippo                      : mix(#000, #98a8aa, 10%);
$greenhat                   : mix(#000, #50dd8e, 15%);

$theme-color                : $greenhat;
$secondary-color            : #3498db;
$gray                       : #7a8288 !default;
$dark-gray                  : mix(#000, $gray, 40%) !default;
$darker-gray                : mix(#000, $gray, 60%) !default;
$light-gray                 : mix(#fff, $gray, 50%) !default;
$lighter-gray               : mix(#fff, $gray, 90%) !default;

$body-color                 : #fff !default;
$background-color           : #fff !default;
$code-background-color      : $lighter-gray !default;
$blockquote-background-color: $code-background-color;
$text-color                 : #404040 !default;
// $border-color               : $lighter-gray !default;
$border-color               : #b2b2b2 !default;

$primary-color              : #7a8288 !default;
$success-color              : #62c462 !default;
$warning-color              : #f89406 !default;
$danger-color               : #ee5f5b !default;
$info-color                 : #52adc8 !default;


/* links */
// $link-color                 : $info-color !default;
$link-color                 : $theme-color !default;
$link-color-hover           : mix(#fff, $link-color, 40%) !default; 
$link-color-visited         : mix(#000, $link-color, 25%) !default;
$archive-link-color         : $text-color;
$archive-link-color-hover   : $theme-color !default;
$masthead-link-color        : $text-color !default;
// $masthead-link-color-hover  : mix(#000, $primary-color, 25%) !default;
$masthead-link-color-hover  : $theme-color !default;


/*
   Breakpoints
   ========================================================================== */

$x-small                    : 320px !default;
$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 1024px !default;
$x-large                    : 1280px !default;
$x-x-large                  : 1440px !default;

$max-width                  : 625px !default;


/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 200px !default;
$right-sidebar-width        : 300px !default;
$right-sidebar-width-wide   : 400px !default;


/*
   Other
   ========================================================================== */

$border-radius              : 5px !default;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125) !default;
// $navicon-width              : 28px !default;
$navicon-width              : 1.5rem !default;
// $navicon-height             : 4px !default;
$navicon-height             : 0.25rem !default;
$global-transition          : all 0.2s ease-in-out !default;
