---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";

/* Breakpoint - media query mixins */
@import "vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);

/* Susy - grid mixins */
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);
@import "vendor/susy/susy";

// mixins
// @import "vendor/compass/compass";
// @import "vendor/compass/lemonade";
@import "vendor/compass/animate";

// checkbox styling
@import "vendor/pretty-checkbox/pretty";

@import "normalize";
@import "base";
@import "algolia";
@import "header";
@import "footer";
@import "sticky-footer";
@import "navigation";
@import "pagination";
@import "posts";
@import "highlight";
@import "utilities";
@import "forms";
@import "comments";
