@font-face {
    font-family: "MF ManYu (Noncommercial) Regular";
    src: url("MF-ManYu-Noncommercial-Regular.eot"); /* IE9 */
    src: url("MF-ManYu-Noncommercial-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("MF-ManYu-Noncommercial-Regular.woff") format("woff"), /* chrome, firefox */
    url("MF-ManYu-Noncommercial-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("MF-ManYu-Noncommercial-Regular.svg#MF ManYu (Noncommercial) Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


