<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <header class="site-header">
    <div class="container">
      {% include site-nav.html %}
      
      {% if page.large_title %}
        <h1 class="site-title">
        {% if page.parent_page %}
          <a href="{{ page.parent_page | absolute_url }}">{{ page.large_title }}</a>
        {% else%}
          <a href="{{ page.url | absolute_url }}">{{ page.large_title }}</a>
        {% endif %}
        </h1>
      {% elsif site.title %}
        <h1 class="site-title">
          <a href="{{ '/' | absolute_url }}">{{ site.title | xml_escape }}</a>
        </h1>
      {% endif %}

      {% if page.tagline %}
        <div class="site-tagline">
          {{ page.tagline }}
        </div>
      {% elsif site.tagline %}
        <div class="site-tagline">
          {{ site.tagline }}
        </div>
      {% endif %}
    </div>
  </header>

  <main class="container">
    {{ content }}
  </main>

  <footer class="site-footer">
    <div class="container">
      {% include footer-links.html %}
      © {{ site.time | date: "%Y" }} {{ site.author }}
    </div>
  </footer>


  {% include scripts.html %}

  {% if page.katex %}
    <!-- Load KaTeX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
    <script>
      $("script[type='math/tex']").replaceWith(function() {
          var tex = $(this).text();
          return katex.renderToString(tex, {displayMode: false});
      });
      $("script[type='math/tex; mode=display']").replaceWith(function() {
          var tex = $(this).html();
          return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
      });
    </script>
  {% endif %}

</body>
</html>
